<h1>Create New User</h1>

<%= form_for @user do |f| %>

  <%= f.hidden_field :role, value: 1 %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :confirmation_password %>
  <%= f.password_field :confirmation_password %>

  <%= f.label :email %>
  <%= f.password_field :email %>

  <%= f.submit "Create User"%>

<% end %>

<%= link_to "Return to Previous Page", user_path(current_user) %>
<%# binding.pry %>
