<h1><%= @player.name %></h1>
    <%= @player.status %> with <%= @player.teams.first.name %><br/>
    Current Coaching Staff: <%= @player.current_coach.name %><br>
    Previous Head Coaches: <%= @player.previous_coach.name %>
